// Add to pGrado
.box-time {
  margin: 0px 12px;
}

.mano{
  cursor:pointer; cursor: hand;
}

@media (max-width: 768px) {
  .contact-icon{
    margin: 18px;
  }
}

.timeline{
  .timeline-item-user{
    .timeline-header{
      font-weight: bold;
    }
  }
}

.panel-ayuda{
  .panel-ayuda-item{
    padding: 3px 6px 3px 6px;
    border-radius: 4px;
  }
}

.slideToTop{
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 32px;
  height: 32px;
  color: #eee;
  line-height: 32px;
  text-align: center;
  background-color: #222d32;
  cursor: pointer;
  border-radius: 5px;
  z-index: 99999;
  opacity: .7;
  display: none;
}

.version{
  margin-right: 35px;
}

.users-list .users-list-img{
  margin: auto;
}

// Add to CakePHP
form {
  .required {
    input, select, textarea{
      border-left: #FF0000 solid 2px;
    }
  }
}

.error-message{
	font-size: .85em;
}

// Mod to AdminLTE
.main-header, .login-logo{
  a.logo{
    font-style: italic;
    font-weight: bold;
  }
}

.nav-tabs-custom {
    box-shadow: none;
}

.tab-timeline{
  background-color: #ECF0F5;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
}

.notifications-menu > .dropdown-menu > li .menu > li > a {
    white-space: normal !important;
    text-align: justify;
}

/* AdminLTE*/
.timeline .timeline-item .timeline-body{
  word-wrap: break-word;
}

.main-footer {
  padding: 5px 15px;
}

@media (max-width: 768px) {
  .login-box,.register-box {
    width: 90%;
    margin-top: 20px;
  }
}

.callout.callout-gray, .alert.alert-gray {
  color: #000 !important;
  border-color: #B5BBC8;
  background-color: #F4F4F4;
  &.active {
    border-color: #367FA9;
  }
  a{
    color: #367FA9;
    text-decoration: none;
  }
  .btn{
    color: #333;
    text-decoration: none;
  }
  &:hover {
    background-color: #E4E4E4;
  }
}

.sidebar-mini.sidebar-collapse .nodisplay {
  display: none;
}

// Agregados
.file-box {
  float: left;
  width: 220px;
}
.file {
  border: 1px solid #E7EAEC;
  padding: 0px;
  background-color: #FFF;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
  .icon {
    padding: 15px 10px;
    text-align: center;
    i {
      font-size: 70px;
      color: #DADADA;
    }
  }
  .icon, .image {
    height: 100px;
    overflow: hidden;
  }
  .file-name {
    padding: 10px;
    background-color: #F8F8F8;
    border-top: 1px solid #E7EAEC;
    small {
      color: #676A6C;
    }
  }
}

.corner {
  position: absolute;
  display: inline-block;
  width: 0px;
  height: 0px;
  line-height: 0;
  border-width: 0.6em;
  border-style: solid;
  border-color: transparent #F1F1F1 #F1F1F1 transparent;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  right: 0em;
  bottom: 0em;
}

.td-actions{
  width:1%;
  white-space:nowrap;
}
