.overlay1{
  position: relative;

  .wrapper{
    z-index: 50;
    border-radius: 3px;
    background-color: rgba(255,255,255,.7);
    position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    font-size: 1.2em;
    min-height: 2em;
    padding: .4em;

    &:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4,end) 1500ms infinite;
      animation: ellipsis steps(4,end) 1500ms infinite;
      content: "\2026"; /* ascii code for the ellipsis character */
      width: 0px;
    }
  }
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.callout.callout-gray, .alert.alert-gray {
  background-color: #EEE;
  border-color: #B5BBC8;
  &:hover {
    background-color: #e0e0e0;
  }
  &.blue {
    border-color: #367FA9;
  }
  &.red {
    border-color: #D33724;
  }
  &.yellow {
    border-color: #DB8B0B;
  }
  &.green {
    border-color: #008D4C;
  }
  a{
    color: #3c8dbc;
    text-decoration: none;
    &:hover{
      color: #367FA9;
    }
  }
  .btn, .btn:hover{
    color: #fff;
    &.btn-default, &.btn-default:hover {
      color: #444;
    }
  }

}
