.move{
  .proyecto{

    .checkbox{
      position: absolute;
      top: 0px;
      left: 10px;
    }
    .datos{
      margin-left: 20px;
      .info{
        font-size: .9em;
      }
      .titulo{
        font-size: 1em;
        font-weight: bold;
      }
    }

    .autores{
      font-size: .9em
    }


  }



}
