.autor{
  font-size: 14px;
  padding: 6px;
  margin-bottom: 6px;
  min-height: 42px;
  position: relative;

  &:hover{
    background-color: #eee;
  }

  .avatar{
    max-width: 25px;
    display: inline-block;
  }
  .datos{
    display: inline-block;
    position: absolute;
      top: 0;
      right: 26px;
      left: 40px;
      bottom: 0;

    .nombre{
      font-weight: bold;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow:hidden;
    }
    .cedula{
      color: #666;
      font-size: .8em;
    }
  }
  .close{
    z-index: 10;
  }

  .user-inactivo{
    display: none;
  }

  &.inactivo{
    color: #999;
    .user-inactivo{
      display: inline;
    }
  }

}
